body {
  width: 70%;
  margin: auto;
}
#myVideo {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


button {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: #1f47fa;  
  box-shadow: inset;
  -webkit-box-shadow: none;
} 

.form-control {
  border: grey solid 1.5px;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #1f47fa;
  opacity: .8;
  background-color: aliceblue;
  padding: 5px;
}

.bankingContainer {
  display: flex;
justify-content: center;
}

#changeBalance {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#registerAccount {
  display: flex;
  justify-content: center;
  background-color: #585858;
  opacity: .9;
  color: aliceblue;
  text-align: center;
  width: 30%;
  border-radius: 10%;
  margin-right: .5em;
}

#balance {
  background-color: #585858;
  opacity: .9;
  color: aliceblue;
  text-align: center;
  width: 30%;
  height: auto;
  border-radius: 10%;
  margin-left: .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.deposit {
  background-color: #585858;
  opacity: .9;
  color: aliceblue;
  text-align: center;
  border-radius: 10%;
  width: 30%;
  margin-right: .5em;
}

.withdraw {
  background-color: #585858;
  opacity: .9;
  color: aliceblue;
  text-align: center;
  border-radius: 10%;
  width: 30%;
  margin-left: .5em;
}

#currentBalance {
  background-color: aliceblue;
  color: #585858;
  width: fit-content;
  height: fit-content;
  align-self: flex-start;
  padding: 1px;
}

